<div class="about-block__wrapper">
    <div class="container">
        <div class="about-block">
            <div class="about-block__title title">ОБО МНЕ</div>
            <div class="about-block__inner">
                <div class="about-block__photo">
                    <img class="photo" src="/img/girl.jpg" alt="">
                </div>
                <div class="about-block__profile">
                    <div class="about-block__profile-title">ИННОКЕНТИЙ СМОКТУНОВСКИЙ</div>
                    <div class="about-block__profile-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio quasi culpa eveniet assumenda quia qui molestiae est ea odio quos voluptatibus perspiciatis, ipsam impedit tempore ducimus omnis deserunt adipisci inventore dicta consectetur, reiciendis fugiat ad! Eum excepturi accusantium amet odio corporis? Odio dignissimos repudiandae vero sapiente voluptatum laboriosam fuga quidem quos, nostrum voluptate, qui recusandae commodi. Aliquid tenetur repellat velit assumenda sapiente aspernatur ratione, error labore pariatur cum architecto debitis odio mollitia unde officiis distinctio quia quam, voluptas quidem quasi dolorum, repudiandae obcaecati. Veniam voluptatibus dolorum iste molestiae repellat officiis quibusdam recusandae sequi cupiditate, sit corrupti! Illo, esse quibusdam?</div>
                    <div class="about-block__events">
                        <div class="about-block__events-block">
                            <img class="about-block__events-block__sity-icon" src="/img/sity.png"></img>
                            <div class="about-block__events-block__sity">ТОЛЬЯТТИ</div>
                        </div>
                        <div class="about-block__events-block">
                            <img class="about-block__events-block__status-icon" src="/img/profession.png"></img>
                            <div class="about-block__events-block__status">ФОТОГРАФ</div>
                        </div>
                        <div class="about-block__events-block">
                            <img class="about-block__events-block__date-icon" src="/img/calendar.png"></img>
                            <div class="about-block__events-block__date">10 НОЯБРЯ</div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>