<div class="about-work__wrapper">
    <div class="container">
        <div class="about-work-block">
            <div class="works-list">
                <div class="work-list__item">
                    <img src="img/girl-1.jpg" alt="">
                    <div class="img-description">
                        <div class="img-description__text">Фото в сквере нашего парка</div>
                        <div class="img-description__date">10.02.2018</div>
                    </div>
                </div>
                <div class="work-list__item">
                    <img src="img/girl-2.jpg" alt="">
                    <div class="img-description">
                        <div class="img-description__text">Красивый закат и девушка</div>
                        <div class="img-description__date">17.03.2017</div>
                    </div>
                </div>
                <div class="work-list__item">
                    <img src="img/girl-3.jpg" alt="">
                    <div class="img-description">
                        <div class="img-description__text">Красивые горы на фоне</div>
                        <div class="img-description__date">21.01.2017</div>
                    </div>
                </div>
                <div class="work-list__item">
                    <img src="img/girl-4.jpg" alt="">
                    <div class="img-description">
                        <div class="img-description__text">Успела заснять капитана Marvel</div>
                        <div class="img-description__date">13.06.2017</div>
                    </div>
                </div>
                <div class="work-list__item">
                    <img src="img/girl-5.jpg" alt="">
                    <div class="img-description">
                        <div class="img-description__text">Эмма Уотсон уже не торт</div>
                        <div class="img-description__date">03.08.2016</div>
                    </div>
                </div>
                <div class="work-list__item">
                    <img src="img/girl-6.jpg" alt="">
                    <div class="img-description">
                        <div class="img-description__text">Жру и не толтею, сжечь меня, шучу</div>
                        <div class="img-description__date">30.01.2014</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>