body {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: 300;
  color: #000000;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

li {
  list-style-type: none;
}
