.header {
  width: 100%;
  background-color: #ffffff;

  .header-container {
    display: block;
    margin: 27px 0;
  }

  .header-wrap {
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
  }

  .logo-block {
    width: 115px;
    height: 50px;
  }

  .logo {
    width: 100%;
    max-width: 115px;
    height: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  .menu-block {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  li {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  .menu li a {
    color: #000000;
    &:hover {
      color: #FF6969;
      text-decoration-line: underline;
    }
    &:active {
      color: #FF6969;
      text-decoration-line: underline;
    }
  }
}
