.blog-latest-post {
  padding: 50px 0;
  background: #F2F2F2;

  .blog__container {
    padding: 0 110px;
  }

  .blog__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 75px;
    color: #000000;
  }

  .blog__post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    margin: 0 -10px;
  }

  .blog-post__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .post-item {
    width: 100%;
    max-width: 31.66%;
    margin: 0 10px;
    background: #ffffff;
  }

  .post-item__image-box {
    width: 100%;
    height: auto;

    &>img {
      max-width: 100%;
    }
  }

  .post-item__content {
    padding: 15px 20px 20px;
  }

  .post-item__post-title {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 20px;
  }

  .post-item__post-description {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 50px;
  }

  .post-item__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .post-item__btn-go-to-news {
    max-width: 190px;
  }

  .post-item__date {
    display: block;
    width: 100px;
    height: 28px;
    margin-left: 30px;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-left: 22px;
  }

  .post-more-news {
    margin: 50px auto 0;
  }

  .post-more-mews__container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .btn-get-more-news {
    width: 100%;
    max-width: 238px;
  }
}
