<div class="blog-latest-post">
  <div class="blog__container">
    <div class="blog__title title">МОЙ БЛОГ</div>
    <div class="blog__post">
      <div class="blog-post__container">
        <div class="post-item">
          <div class="post-item__image-box">
            <img src="./../img/blog-image.jpg" alt="">
          </div>
          <div class="post-item__content">
            <div class="post-item__post-title">
                СЕГОДНЯ ХОДИЛ В КЛУБ ЗАРЯ
            </div>
            <div class="post-item__post-description short-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio quasi culpa eveniet assumenda quia qui molestiae est ea odio quos voluptatibus perspiciatis, ipsam impedit tempore ducimus omnis deserunt adipisci inventore dicta consectetur...
            </div>
            <div class="post-item__footer">
              <a href="" class="btn btn--yellow post-item__btn-go-to-news">Перейти к новости</a>
              <div class="post-item__date">26.06.2019</div>
            </div>
          </div>
        </div>
        <div class="post-item">
          <div class="post-item__image-box">
            <img src="./../img/blog-image.jpg" alt="">
          </div>
          <div class="post-item__content">
            <div class="post-item__post-title">
                СЕГОДНЯ ХОДИЛ В КЛУБ ЗАРЯ
            </div>
            <div class="post-item__post-description short-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio quasi culpa eveniet assumenda quia qui molestiae est ea odio quos voluptatibus perspiciatis, ipsam impedit tempore ducimus omnis deserunt adipisci inventore dicta consectetur...
            </div>
            <div class="post-item__footer">
              <a href="" class="btn btn--yellow post-item__btn-go-to-news">Перейти к новости</a>
              <div class="post-item__date">26.06.2019</div>
            </div>
          </div>
        </div>
        <div class="post-item">
          <div class="post-item__image-box">
            <img src="./../img/blog-image.jpg" alt="">
          </div>
          <div class="post-item__content">
            <div class="post-item__post-title">
                СЕГОДНЯ ХОДИЛ В КЛУБ ЗАРЯ
            </div>
            <div class="post-item__post-description short-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio quasi culpa eveniet assumenda quia qui molestiae est ea odio quos voluptatibus perspiciatis, ipsam impedit tempore ducimus omnis deserunt adipisci inventore dicta consectetur...
            </div>
            <div class="post-item__footer">
              <a href="" class="btn btn--yellow post-item__btn-go-to-news">Перейти к новости</a>
              <div class="post-item__date">26.06.2019</div>
            </div>
          </div>
        </div>
      </div>
      <div class="post-more-news">
        <div class="post-more-mews__container">
          <a href="#" class="btn btn--yellow btn-get-more-news">Посмотреть все новости</a>
        </div>
      </div>
  </div>
</div>
