<div class="blog-latest-post">
  <div class="blog__container">
    <div class="blog__title title">

    </div>
    <div class="blog__post-container">
      <div class="blog-item">
        <div class="blog-item__image-box">
          <img src="./../img/blog-image.jpg" alt="">
        </div>
        <div class="blog-item__content">
          <div class="blog-item__post-title">
              СЕГОДНЯ ХОДИЛ В КЛУБ ЗАРЯ
          </div>
          <div class="blog-item__post-description short-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio quasi culpa eveniet assumenda quia qui molestiae est ea odio quos voluptatibus perspiciatis, ipsam impedit tempore ducimus omnis deserunt adipisci inventore dicta consectetur...
          </div>
          <div class="blog-item__footer">
            <a href="" class="btn btn-go-to-news">Перейти к новости</a>
            <div class="post-date"></div>
          </div>
        </div>
      </div>
      <div class="blog-item">
        <div class="blog-item__image-box">
          <img src="./../img/blog-image.jpg" alt="">
        </div>
        <div class="blog-item__content">
          <div class="blog-item__post-title">
              СЕГОДНЯ ХОДИЛ В КЛУБ ЗАРЯ
          </div>
          <div class="blog-item__post-description short-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio quasi culpa eveniet assumenda quia qui molestiae est ea odio quos voluptatibus perspiciatis, ipsam impedit tempore ducimus omnis deserunt adipisci inventore dicta consectetur...
          </div>
          <div class="blog-item__footer">
            <a href="" class="btn btn-go-to-news">Перейти к новости</a>
            <div class="post-date"></div>
          </div>
        </div>
      </div>
      <div class="blog-item">
        <div class="blog-item__image-box">
          <img src="./../img/blog-image.jpg" alt="">
        </div>
        <div class="blog-item__content">
          <div class="blog-item__post-title">
              СЕГОДНЯ ХОДИЛ В КЛУБ ЗАРЯ
          </div>
          <div class="blog-item__post-description short-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio quasi culpa eveniet assumenda quia qui molestiae est ea odio quos voluptatibus perspiciatis, ipsam impedit tempore ducimus omnis deserunt adipisci inventore dicta consectetur...
          </div>
          <div class="blog-item__footer">
            <a href="" class="btn btn-go-to-news">Перейти к новости</a>
            <div class="post-date"></div>
          </div>
        </div>
    </div>
  </div>
</div>
