<div class="contacts-block">
  <div class="contacts-block__container container">
    <div class="title contacts-block__title">КОНТАКТЫ</div>
    <div class="contacts-block__wrapper">
      <div class="contacts-block__social-block">
        <img class="social-icon" src="img/vk.png" alt="">
      </div>
      <div class="contacts-block__social-block">
        <img class="social-icon" src="img/instagram.png" alt="">
      </div>
      <div class="contacts-block__social-block">
        <img class="social-icon" src="img/phone.png" alt="">
      </div>
      <div class="contacts-block__social-block">
        <img class="social-icon" src="img/mail.png" alt="">
      </div>
    </div>
  </div>
</div>
