<div class="footer-wrapper">
  <div class="container">
    <div class="wrapper">
      <ul class="menu">
          <li class="menu__item">
            <a class="menu__link" href="/index.html">Главная</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/about.html">Мой блог</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Подробнее обо мне</a>
          </li>
        </ul>
        <span class="copyright">
          © 2019, my-site.com
        </span>
    </div>
    <div class="footer__phone-icon">
      <div class="block-phone-icon">
        <img class="block-phone-icon__image" src="img/phone_icon.png" alt="">
      </div>
    </div>
  </div>
</div>
