<header class="header">
  <div class="header-container">
    <div class="header-wrap">
      <div class="header__logo-block">
        <div class="logo">
          <img src="./../img/logo.svg" alt="">
        </div>
      </div>
      <div class="menu-block">
        <ul class="menu">
          <li class="menu-item"><a href="/" class="menu-item__link">Главная</a></li>
          <li class="menu-item"><a href="/blog-about.html" class="menu-item__link">Мой блог</a></li>
          <li class="menu-item"><a href="/blog-about.html" class="menu-item__link">Подробнее обо мне</a></li>
          <li class="menu-item"><a href="#" class="menu-item__link">Контакты</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
