<div class="main-screen">
  <div class="main-screen__container">
    <h1 class="main-screen__title">ОБО МНЕ</h1>
    <div class="main-screen__info">
      <div class="main-screen__photo">
        <img src="./../img/girl.jpg" alt="">
      </div>
      <div class="main-screen__text-block">
          <div class="main-screen__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio quasi culpa eveniet assumenda quia qui molestiae est ea odio quos voluptatibus perspiciatis, ipsam impedit tempore ducimus omnis deserunt adipisci inventore dicta consectetur, reiciendis fugiat ad! Eum excepturi accusantium amet odio corporis? Odio dignissimos repudiandae vero sapiente voluptatum laboriosam fuga quidem quos, nostrum voluptate, qui recusandae commodi. Aliquid tenetur repellat velit assumenda sapiente aspernatur ratione, error labore pariatur cum architecto debitis odio mollitia unde officiis distinctio quia quam, voluptas quidem quasi dolorum, repudiandae obcaecati. Veniam voluptatibus dolorum iste molestiae repellat officiis quibusdam recusandae sequi cupiditate, sit corrupti! Illo, esse quibusdam?</div>
          <a href="#" class="btn main-screen__btn btn--yellow btn-read-more">Подробнее</a>
      </div>
    </div>
  </div>
</div>
